// To use variable utilize prefix $ and name declared.
body {
    header, 
    footer {
        background-color: $container-primary-bg-color;
    }
    section {
        background-color: $container-secundary-bg-color;
        padding: $container-padding-sm;
    }

    div {
        background-color: $content-primary-bg-color;
    }
}