// In to example is utilized nested rules, that are rules into another rule.

#page {
    display: grid;
    grid-template-columns: $width-12;
    
    #header {
        padding: $padding-all-1;
    }

    #main {
        display: flex;
        justify-content: center;
        padding: $padding-top-bottom-4;
    }

    #footer {
        padding: $padding-all-1;
    }
}