// To use mixin use property @include and name declared, if there parameters, declare between ().
.header {
    h1 {
        @include font-style($font-size-em-2, $secundary-color, normal);
    }
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: $width-12;
    max-width: $container-max-width;
    @include border-define(0px, solid, #eeeeee, 4px);
    .item {
        width: $width-12;
        min-height: 100px;
        @include box-shadow-define(0px 0px 15px 0px rgba(0,0,0,0.52));

        &:not(:last-child) {
            margin: $margin-bottom-1;
        }
    }
}

@media all and (min-width:992px) {
    .container .item {
        width: $width-3;
        &:not(:last-child) {
            margin: $not-margin;
        }
    }
}