// To use mixin use property @include and name declared, if there parameters, declare between ().
.container {
    display: flex;
    justify-content: space-evenly;
    width: $width-12;
    @include border-define(2px, solid, #eeeeee, 0px);
}

.container .item {
    width: $width-12;
    @include box-shadow-define(0px 0px 15px 0px rgba(0,0,0,0.52));
}

@media all and (min-width:992px) {
    .container .item {
        width: $width-3;
    }
}