//Variables in to SASS is much util for reuse the CSS rule value.
//For declare variable utilize prefix $ and your name, after declare, define the value.
//Bg colors
    $container-primary-bg-color: #eeeeee;
    $container-secundary-bg-color: #620671;

    $content-primary-bg-color: #eeeeee;
    $content-secundary-bg-color: #542424;
//Bg colors

//padding
    $container-padding-sm: 0.5em;
//padding